/* RESET BOX SIZING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


/* REGOLE SEZIONE 1 */
#section-1 h1 {
    text-align: center;
    padding: 2rem 0;
    color: white;
}

#section-1 .box {
    width: 100%;
    margin: 1rem 0;
    background-color: white;
    color: blue;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info {
    width: 30%;
    padding: 0.5rem 0;
    text-align: center;
}

.my-label {
    display: inline-block;
    width: 100%;
}

.my-buttons {
    text-align: center;
    padding: 2rem 0;
}


button {
    border: 1px solid blue;
}



/* REGOLE SEZIONE 2 */
.none {
    display: none;
}

.block {
    display: block;
}

#section-2 h1 {
    text-align: center;
    padding: 4rem 0 0rem;
    margin-bottom: 1rem;
    color: white;
}

#section-2 .box {
    width: 100%;
    margin: 1rem 0;
    padding: 2rem;
    background-color: white;
    color: blue;
}

.box-2 {
    border: 1px solid blue;
    margin: 2rem 0;
    
}

.passeggero {
    background-color:gray;
    padding-right: 2rem;
    height: 50vh;
    color: white;
}

.passeggero-2 {
    padding-bottom: 2rem;
}

.tipo {
    padding-bottom: 2rem;
}

.biglietto-info {
    padding: 0 3.5rem;
    height: 50vh;
}